    /************/
    /* Algemeen */
    /************/


html {
    width: 100%;
}

body {
 font-family: 'Courier New', Courier, monospace;
 width: 100%;
 font-size: .875rem;
 line-height: 1.25rem;
 background-color: rgb(248, 250, 250);

}

img {
    max-width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover { 
    font-weight: bold;
}

ul {
    list-style-type: none;
}



  /**********/
  /* Header */
  /**********/


/* Mobiele navigatie */
header nav:first-of-type {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vh 0vh 0vh;
    margin: -1vh 0vh 0vh -2vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
}

/* Krom logo */
nav:first-of-type>a>img {
    width: 9em;
    margin-left: 5vh;
    margin-top: -1vh;
}

/* Bag & Hamburger */
header nav:first-of-type ul {
    display: flex;
}

/* Afstand tussen Bag & Hamburger */
header nav:first-of-type ul img{
    padding: 0vh 2vh 0vh 1vh;
    width: 1.5em;
    height: auto;
}

/* (0) Bag */
header nav:last-of-type>ul>li:nth-last-of-type(2) {
    display: none;
}

/* Icons & Gif */
header section {
    display: none;
}



  /********/
  /* Main */
  /********/


/* Home afbeelding & knop */
.homeImg {
    background-image: url(/images/home.jpg);
    background-size: 100%;
    width: 100%;
    height: 25em;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   }
      
.homeImg>a {
    background-color: white;
    padding: 1em 1.5em;
   }

/* Tekst onder Home img */
main>div {
    line-height: 0.4em;
    margin: 2.5em 0em 3em 2em;
}

#KROMkendama {
    font-weight: bold;
}


/* All kendama's */
.bovenTekst {
    margin-left: 2em;
}

h3 {
    margin-bottom: -1em;
}
#bovenTekst {
    padding-top: 6em;
    font-weight: normal;
    margin-left: 2em;
}

#grid {
    width: 86%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 3em 7%;
}

.allKendamas {
 margin-bottom: 1em;
}

main>ul>li {
    margin-right: .5em;
}

main>ul>li:nth-of-type(2) {
    font-weight: bolder;
}


main>ul {
    display: flex;
    margin-left: -.8em;
    margin-bottom: 3em;
}

/* aanpassen */

main>div>article {
    line-height: normal;
}

main>div>article>h4 {
    margin-top: -.5em;
}


/**********/
/* Footer */
/**********/

footer {
    margin-left: 2em;
}

footer ul {
    margin-left: -2.7em;    
}

/* Krom kendama footer */
footer>p {
    margin-top: 2em;
}

/* Kleine Logo's */
footer img {
    margin: 0.2em 0.2em;
    height: 3em;
}

/* Social media logo's */
.social {
    width: 10em;
    height: auto;
    margin-top: -1em;
    margin-left: 0.5em;
}



    /*******************/
    /* Menu uitklappen */
    /*******************/


.list {
    position:fixed;
	left:0;
	right:0;
	top:0;
	transform:translateY(-100%);
	transition:.2s;
}

.laatZien {
    transform:translateY(9%);
    background-color: white;
    padding-bottom: 33em;
}



    /**************/
    /* Responsive */
    /**************/


@media screen and (min-width: 768px) {
    body {
        font-size: .75rem;
        line-height: 1rem;
        height: fit-content;
    }

    header>li {
        width: 227px;
    }
    
    header>nav:first-of-type {
        background-color: rgb(248, 250, 250);
    }

    header nav:first-of-type ul {
        display: none;
    }

    header nav:last-of-type>ul>li:nth-last-of-type(2) {
        display: grid;
        padding-top: 3em;
        margin-bottom: 1em;
    }

    .list {
        transform:translateY(9%);
        margin-top: 5em;
    }

   
    .homeImg {
        width: 100%;
    }


    #grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    
    
    header>section {
       
       position: fixed;
       display: grid;
       margin-top: 30em;
       width: 10em;
       background-color: rgb(248, 250, 250);
       margin-left: 3em;

    }

    header>section>img:first-of-type {
       margin-bottom: 3em;
       margin-top: -3em;
     }

     .header {
         grid-column-start: 1;
         grid-column-end: 2;
         width: 227px;
     }

    .footer {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .wrap {
        display: grid;
        width: 90%;
        grid-template-columns: 227px 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        gap: 3rem;
        margin-top: 3rem;
        grid-template-areas: "header main" ". footer";
    }

    header>nav:first-of-type {
        width: 227px;
    }

    header>nav:first-of-type>a>img {
       width: 10em;
       margin-bottom: 4em;

    }


}


@media screen and (min-width: 1024px) {
    #grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1em;
    }
}





